{% extends 'base.html' %}
{% block title %}
<title>Register</title>
{% endblock %}
{% block content %}
    <div class="container">
      <div class="form-header">
        <h1>---REGISTER FORM---</h1>
      </div>
      <form action="" method="POST">
        <div class="form-group">
          {% csrf_token %}
          <div class="form-element">
            {{form.username.label}} : {{form.username}}
            {{form.username.errors}}
          </div>
          <div class="form-element">
            {{form.email.label}} : {{form.email}}
            {{form.email.errors}}
          </div>
          <div class="form-element">
            {{form.password1.label}} : {{form.password1}}
            {{form.password1.errors}}
          </div>
          <div class="form-element">
            {{form.password2.label}} : {{form.password2}}
            {{form.password2.errors}}
          </div>
          <div class="group-text">
            <p class="text">Already have an account?</p>
            <a href="{% url 'index' %}" class="text-link">Login</a>
          </div>
          <input type="submit" name="Create Account" value="Create Account"/>
        </div>
      </form>
    </div>
{% endblock %}